<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
    <title>Document</title>
</head>
<body>

<article>
    <ul id="videoList">
        <!-- <li class="videoLi">
            <div class="thumbnail">
                <img src="/test.jpg" alt="제목제목">
            </div>
            <div class="description">
                <span class="title">제목들어갈 자리 제목들어갈 자리 제목들어갈 자리</span>
            </div>
        </li> -->
    </ul>
</article>

</body>
</html>